* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
}

body {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  height: 550px;
}

.logcard {
    width: 50%;
    max-width: 960px;
    height: 396px;
    background-color: rgb(15, 44, 15);
    margin: 100px auto;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-evenly;
}

.logleft {
    width: 50%;
    height: 100%;
    background-image: url("Bg.jpg");
    background-size: cover;
    
    background-position: left;
    border: 5px solid rgb(15, 44, 15);
    border-radius: 30px 0 0 30px;
    display: flex;
    justify-content: space-between;
}

.back {
    width: 120px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(255, 255, 255);
    font-size: 10px; 
    border-color: transparent;
    height: 12px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo {
    font-family: 'Arial', sans-serif;
    font-size: 35px;
    padding: 10px 20px;
    color: black;
}

.logright {
    width: 50%;
    height: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding: 20px;
    position: relative;     

}

.rimain {
    align-self: center;
    font-size: 30px;
    font-family:monospace;
    margin: 1px 0;
    #wel {
        margin-top: 20px;
    }
}
#wel {
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    justify-content: space-evenly;
    height: 40%;

}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: transparent;
    border-radius: 5px;
    background-color: rgb(15, 44, 15 , 0.5);
    color: #ffffff;
}

.user {
    display: flex;
    align-items: center;
    width: 100%;

}

#first_name {
    margin-right: 1%;
    margin-left: 1%;
}

button {
    /* width: 80px; */
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #00ff88;
    align-self: center;
    padding: 5px 10px;
    margin: 20px;
    width: 100%;
    /* padding: 12px; */
    font-weight: bold;
}


.forgot {
    font-size: 13px;
    text-decoration: underline;
    color: rgb(255, 255, 255);
    align-self: flex-start;
}

@media (max-width:900px) {
    .logcard {
        width: 90%;
        height: auto;
        flex-direction: column;
    }

    .logleft, .logright {
        width: 100%;
        height: 540px;
        border-radius: 30px;
    }

    .logleft {
        background-position: left;
        
    }
}

.email {
    display: flex;
    align-items: center;
    width: 100%;
}

.password {
    display: flex;
    align-items: center;
    width: 100%;
}

i {
    margin-right: 10px;
    color: #00ff88;
}

button:hover {
  
    background-color: rgba(0, 0, 0, 0.5);
    color: #00ff88;
    transform: scale(1.0002);
    transition: 0.3s ease;
}
.back:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: #00ff88;
    transform: scale(1.0002);
    box-shadow: 0 0 3px #00ff88;
}

input:hover {
    border-color: #ffffff;
    border: #ffffff 1px solid;
    transition: 0.3s ease;
}

